.bash_history
.git-credentials
yay
Downloads
documents
schedule.pdf
.config/zoomus.conf
.config/Microsoft
.config/Microsoft Teams - Preview
.config/teams
.config/obsidian
.config/menus
.config/libreoffice
.config/i3/trash
.config/htop
.config/QtProject.conf
.ViberPC
.android
.cache
.config/dconf
.config/chromium
.gnome
.gnupg
.java
.jssc
.lesshst
.local
.lyrics
.mozilla
.node_repl_history
.oracle_jre_usage
.pki
.python_history*
.vim/
.viminfo
.zoom
.bash_profile
.bash_logout
.arduino*
.Xauthority
Arduino
music
pictures
.config/ncmpcpp/error.log
.config/pulse
.config/mpd/pid
.config/mpd/state

.config/nvim/trash.vim
.config/vifm/scripts/trash
.config/vifm/vifminfo.json
.config/vifm/vifm-help.txt


.config/Arduino IDE
.config/arduino-ide
.config/blender
.config/cava
.config/coc
.config/nvim/spell
.config/nvim/.ycm_extra_conf.py
.config/obs-studio
.config/skypeforlinux
.config/vimb
.config/mpd/state
.config/mpd/database

.moonchild productions
.profile
.pylint.d
.rustup
.keras/
.npm/
.cargo
.ssh
.vimperator/
.vimspector.log
.waterfox/
.wpa_cli_history
.yarnrc
.scripts/trash


.conkyrc
xorg.conf
.xinitrc

