.bash_history
.git-credentials
yay
Downloads
documents
schedule.pdf
.config/zoomus.conf
.config/Microsoft
.config/Microsoft Teams - Preview
.config/teams
.config/obsidian
.config/menus
.config/libreoffice
.config/i3/trash
.config/htop
.config/QtProject.conf
.ViberPC
.android
.cache
.config/dconf
.config/chromium
.gnome
.gnupg
.java
.jssc
.lesshst
.local
.lyrics
.mozilla
.node_repl_history
.oracle_jre_usage
.pki
.python_history*
.vim/
.viminfo
.zoom
.bash_profile
.bash_logout
.arduino*
.Xauthority
Arduino
music
pictures
.config/ncmpcpp/error.log
.config/pulse
.config/mpd/state



.conkyrc
xorg.conf
.xinitrc

