yay/
.ViberPC/
.gnome/
.jupyter/
.links/
.local/
.mozilla/
.var/
.vcpkg/
.vscode/
.gnupg/
Documents/
Downloads/
Music/
Pictures/
cava/
urxvt-perls/
.bash*
.ipython/
.lesshst/
.mpd/
.pki/
.profile
.pylint.d/
.python*
.config/gtk*
.config/gnome*
.config/google-chrome/
.config/goa*
.config/i3/trash/
.config/gedit
.config/eog
.config/evolution
.config/libreoffice
.config/nautilus
.config/dconf
.config/dleyna*
.config/monitors*
.config/user-dirs*
.config/polybar/trash/
.lesshst
.config/mimeapps.list
.config/menus
.config/mc
.config/htop
.cache
.config/totem
.config/QtProject.conf
.config/pipewire-media-session
.config/pulse
.vim*
.Xauthority
.pyenv/
covid.csv
.config/vlc
.config/Kitware

